@custom-media --tablet-breakpoint (max-width: 900px);

:root {
    /* Layout */
    --content-width: 960px;
    --minimum-margin: 1rem;

    /* Typography */
    --root-font-size: 18px;
    --h1-font-size: 2.389rem;
    --h2-font-size: 1.778rem;
    --h3-font-size: 1.333rem;
    --p-font-size: 1rem;
    --line-height: 1.5;

    /* Colors */
    --light: #fafafa;
    --dust-gray: #d6d6d6;
    --dark: #2c2c2c;
    --strawberry-red: #e54b4b;
    --soft-periwinkle: #7e78d2;
    --slate-blue: #6f58c9;
    --sunflower-gold: #ffb732;

    --text-color: var(--dark);
    --link-color: var(--slate-blue);
    --background-color: var(--light);
    --box-shadow-color: color-mix(in srgb, var(--dust-gray) 80%, transparent);
    --text-shadow-color: var(--dark);
    --dashed-underline-color: color-mix(in srgb, var(--dark) 50%, transparent);
    --border-color: var(--dust-gray);
}
