@import "./reset.css";
@import "./global-variables.css";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html {
    font-size: var(--root-font-size);
    font-family: 'Outfit', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

p {
    font-size: var(--p-font-size);
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: 700;
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: 700;
}

h3 {
    font-size: var(--h3-font-size);
    font-weight: 700;
}

a {
    color: var(--link-color)
}

#root {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
}

#page {
    margin-top: 1rem;
}

section {
    margin-bottom: 1rem;
}

section > section {
    margin-bottom: 0.5rem;
}

section p {
    margin-bottom: 0.5rem;
}

.content-width {
    max-width: var(--content-width);
    margin-inline: auto;
    width: 100%;
}

main.content-width, .content-width.minimum-margin {
    width: calc(100% - 2 * var(--minimum-margin));
}

.icon-inline {
    display: inline;
    height: 1em;
    width: auto;
    vertical-align: text-bottom;
}

[class *= lucide] {
    color: var(--text-color);
}
