@import "./global-variables.css";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html {
    font-size: var(--root-font-size);
    font-family: 'Outfit', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

p {
    font-size: var(--p-font-size);
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: 700;
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: 700;
}

h3 {
    font-size: var(--h3-font-size);
    font-weight: 700;
}

a {
    color: var(--link-color)
}

#root {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
}

#page {
    margin-top: 1rem;
}

.content-width {
    max-width: var(--content-width);
    margin-inline: auto;
}

.icon-inline {
    display: inline;
    height: 1em;
}

.lucide-circle-check-big-icon, .lucide-chart-pie-icon {
    color: var(--sunflower-gold);
}
/* 
.inline-ingredient {

} */
