:root {
    /* Sizing */
    --content-width: 1000px;
    --tablet-breakpoint: 900px;
    --header-height: 4.57rem;
    
    /* Classic Typographic Scale */
    --root-font-size: 14px;
    --h1-font-size: 2.57rem;
    --h2-font-size: 1.71rem;
    --h3-font-size: 1.286rem;
    --p-font-size: 1rem;

    /* Colors */
    --light: #fafafa;
    --dust-gray: #d6d6d6;
    --dark: #2c2c2c;
    --strawberry-red: #e54b4b;
    --soft-periwinkle: #7e78d2;
    --slate-blue: #6f58c9;

    --text-color: var(--dark);
    --background-color: var(--light);
    --box-shadow-color: color-mix(in srgb, var(--dust-gray) 80%, transparent);
    --border-color: var(--dust-gray);
    --hover-background-color: var(--dust-gray);
    --active-background-color: var(--soft-periwinkle);
    --active-text-color: var(--light);
    --active-hover-background-color: color-mix(in srgb, var(--soft-periwinkle) 70%, var(--dust-gray) 30%);
    --active-active-background-color: var(--soft-periwinkle);/*color-mix(in srgb, var(--soft-periwinkle) 90%, var(--dust-gray) 10%);*/
}